/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 


html {
 height: 100%;
}

body {
 background: #304352;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h3 {
 margin-top: 10px;
 margin-bottom: 10px;
}

hr {
 margin-top: 0;
 margin-bottom: 0;
}

.navbar-default {
 background: rgba(250, 250, 250, .75);
 -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.75);
 box-shadow: 0 2px 2px 0 rgba(0,0,0,.75);
 border: none;
 border-radius: 0;
}


.navbar-brand {
 font-size: 20px;
}

.navbar-link {
 font-size: 15px;
 margin-right: 5px;
}

th.main {
 width: 33.3%;
}

th.sec {
 width: 25%;
 color: white;
 font-weight: normal;
}

p {
 overflow: auto;
}

.h4.show {
 color: white;
  letter-spacing: .75px;
}

.h5.show {
 color: white;
 letter-spacing: .75px;
}

// .table.thead.tr.th {
//  border-top: 0px !important;
// }